.site-banner {
    width: calc(100vw - 22px);
}

.page-title-divider {
    width: calc(100vw - 230px);
}

nav {
    width: 150px;
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 8px;
    margin-top: 20px;
    display: flex;
    align-items: stretch;
    z-index: 2000;
}

.nav-container {
    position: fixed;
    top: 24px;
    background: #c0c0c0;
    z-index: 1900;
    width: 170px;
    height: 100vh;
}

main {
    margin-left: 190px;
}

.page-container {
    width: calc(100vw - 230px);
}

.blog-post-scroll {
    left: 190px;
    width: calc(100vw - 230px);
}

.view-container {
    width: calc(100vw - 196px);
}

.home-bg-image {
    width: calc(100vw - 230px);
}

.blog-post-scroll {
    position: fixed;
    bottom: 0;
    background-color: #c0c0c0;
    padding-bottom: 8px;
    padding-top: 8px;
}

.progress-indicator-container {
    display: flex;
    margin-bottom: 16px;
}

.progress-indicator {
    width: 100%;
}

.progress-indicator-scroll-button {
    margin-left: 1rem;
    width: 100px
}