.site-banner {
    width: calc(100vw);
}

.title-bar-controls {
    margin-right: 8px;
}

nav {
    padding: 8px;
    margin-top: 20px;
}

.home-bg-image {
    width: calc(100vw - 40px);
    max-width: unset;
}

.page-title-divider {
    width: calc(100vw - 40px);
}

main {
    margin-left: 1rem;
}

.page-container {
    width: calc(100vw - 40px);
    overflow-wrap: break-word;
}

h1 {
    margin-top: 1rem;
    width: calc(100vw - 40px);
}