@font-face {
    font-family: 'Departure Mono';
    src: local('Departure Mono'),
    url('./assets/vendor/departure-mono/DepartureMono-Regular.woff2') format('woff2'),
    url('./assets/vendor/departure-mono/DepartureMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.page-title {
    font-family: "Pixelated MS Sans Serif", Arial, sans-serif;
    margin-bottom: 0;
}

.site-banner {
    width: calc(100vw - 22px);
    position: fixed;
    x: 0;
    y: 0;
    z-index: 1000;
    top: 0;
}

.site-banner-text {
    padding-left: 8px;
}

.page-title-divider {
    margin-left: 0;
    margin-right: 40px;
    margin-bottom: 2rem;
    width: calc(100vw - 230px);
}

body {
    margin: 0;
    padding: 0;
    background: #c0c0c0;
    width: calc(100vw - 16px);
    overflow-x: scroll;
    overflow-y: scroll;
    font-size: 1rem;
    font-family: "Pixelated MS Sans Serif", Arial, sans-serif;
}

nav {
    width: 150px;
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 8px;
    margin-top: 20px;
    display: flex;
    align-items: stretch;
    z-index: 2000;
}

.nav-container {
    position: fixed;
    top: 24px;
    background: #c0c0c0;
    z-index: 1900;
    width: 170px;
    height: 100vh;
}

.right-overflow-container {
    position: fixed;
    top: 24px;
    right: 0;
    background: #c0c0c0;
    z-index: 1900;
    width: 10px;
    height: 100vh;
}

.top-overflow-container {
    position: fixed;
    top: 22px;
    left: 0;
    background: #c0c0c0;
    z-index: 1900;
    width: 100vw;
    height: 6px;
}

nav .tree-view {
    width: 100%;
    overflow-y: scroll;
    font-size: 18px;
}

main {
    width: 65rem;
    margin-left: 190px;
    margin-bottom: 60px;
}

.page-container {
    width: calc(100vw - 230px);
    margin-bottom: 6rem;
}

.blog-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 2rem;
}

.blog-post-scroll {
    position: fixed;
    bottom: 0;
    left: 190px;
    width: calc(100vw - 230px);
    background-color: #c0c0c0;
    padding-bottom: 8px;
    padding-top: 8px;
}

.progress-indicator-container {
    display: flex;
    margin-bottom: 16px;
}

.progress-indicator {
    width: 100%;
}

.progress-indicator-scroll-button {
    margin-left: 1rem;
    width: 100px
}

.about-tab-window {
    height: 100%;
    margin-bottom: 8px;

}

.about-window-body {
    overflow-x: auto;
    padding-bottom: 16px;
}

h4 {
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}

button,
label,
input,
legend,
textarea,
select,
option,
table,
ul.tree-view,
.window,
.title-bar,
li[role=tab] {
    font-size: 1rem;
}

table > thead > tr > * {
    padding-top: 2px;
    padding-bottom: 2px;
}

pre {
    font-family: Departure Mono, monospace;
    font-size: 1rem;
    background: var(--surface);
    box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
    padding: 8px;
}

code {
    font-family: Departure Mono, monospace;
    font-size: 14px;
}

.blog-window {
    position: relative;
    height: 100%;
}

.blog-window-status {
    position: absolute;
    bottom: 0;
    margin-bottom: 4px;
    width: calc(100% - 6px);
}

.view-container {
    position: fixed;
    top: 0;
    margin-left: 170px;
    margin-top: 28px;
    width: calc(100vw - 196px);
    height: calc(100vh - 52px);
    box-shadow: inset -1px -1px #dfdfdf, inset 1px 1px grey;
    z-index: 3000;
    pointer-events: none;
}

.home-bg-image {
    width: calc(100vw - 230px);
}